/* ================================= 
  Pantone Colors based on sleepingbiscuit.jpg
	Fog 
		sRBG 208 197 177
		HEX D0C5B1
	2478 CP (dark brown)
		sRBG 62 38 42
		CMYK 47 73 48 67
		HEX 3E262A
	True Red
		sRBG 191 25 50
		HEX BF1932
	2468 CP (light caramel)
		sRBG 158 109 65
		CMYK 20 51 65 25
		HEX 9E6D41
	2443 UP (cinnamon)
		sRBG 127 73 63
		CMYK 7 71 100 33
		HEX	7F493F
==================================== */


/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;

}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
	color: #7F493F;
}

h1 {
	font-size: 2.5em;
}

h1,
h2 {
	color: #BF1932;
	margin: 0;
}


h3,
a {
	color: #3E262A;
}

h3 {
	margin-top: 1em;
	font-size: 1.75em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header {
	background: #D0C5B1;
}

/* Height:850px;
	background-image: url(../images/bedbiscuit.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover; */

.name {
	font-size: 2.5em;
	margin-top: 0;
	margin-bottom: 0;
	color: #BF1932;
	padding-bottom: 0;
}

.sub-head {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
}



.main-nav {
	margin-top: 5px;
	background: #D0C5B1;
}

.name a,
.main-sub a,
.main-nav a {
	text-align: left;
	display: block;
	padding: 10px 15px;
	background: #D0C5B1;
}

.main-nav a {
	font-size: .95em;
	color:#9E6D41;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #3E262A ;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;

}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #fff;
	background: #9E6D41;;
	padding: 3.2em 0;
	margin-bottom: 60px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #9E6D41;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.container {
		width: 90%;
		margin: 0 auto;
	}
	.heading {
		float: left;
	}

	.col {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}

	.one,
	.two {
		width: 50%;
	}
	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1025px) {
	
	.container {
		width: 80%;
		max-width: 1150px;
	}

	.one,
	.two,
	.three {
		width: 33.3%;
	}

}